*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    height: 100vh;
    width: 100vw;
    font-size: 1.5rem;
}

.left{
    flex-grow: 1;
    width: 50vw;
    background-image: url(./images/forest.avif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    font-size: 30px;
    gap: 10px;
}

.logo img{
    height: 15vh;
}

.right{
    display: flex;
    width: 60vw;
    flex-direction: column;
    justify-content: center;
    flex-grow: 2;
    background-color: rgb(240, 240, 240);
}

.text{
    font-weight: 700;
}

.text > *{
    margin-top: 1rem;
}

.right > *{
    padding: 10px;
}

.right form{
    background-color: white;
    box-shadow: 0 5px 5px grey;
    width: 100%;
}

input{
    padding: .2rem;
}

.inputs{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.input{
    display: flex;
    flex-direction: column;
    width: 40%;
}